<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body onload="MM_preloadImages('../images/iconos/datos_on.jpg')">
<table width="246" border="1" align="center">
  <tr class="cabecera_tabla">
    <td colspan="2" nowrap="nowrap"><div align="center">Articulo</div></td>
  </tr>
  
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">C&oacute;digo</div></td>
    <td class="campos"><div align="center">
      <input name="textfield" type="text" class="cajas_campos" value="32354" />    
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Descripci&oacute;n</div></td>
    <td class="campos"><div align="center">
      <input name="textfield22" type="text" class="cajas_campos" value="serrucho" />
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Marca</div></td>
    <td class="campos"><div align="center">
      <input name="textfield23" type="text" class="cajas_campos" value="Bellota"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">PVP</div></td>
    <td class="campos"><div align="center">
      <input name="textfield24" type="text" class="cajas_campos" value="10.00"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Calculado</div></td>
    <td class="campos"><div align="center">
      <input name="textfield25" type="text" class="cajas_campos" value="8.90"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Tarjeta </div></td>
    <td class="campos"><div align="center">
      <input name="textfield26" type="text" class="cajas_campos" value="10.20"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Lista 1 </div></td>
    <td class="campos"><div align="center">
      <input name="textfield27" type="text" class="cajas_campos" value="9.90"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Lista 2 </div></td>
    <td class="campos"><div align="center">
      <input name="textfield28" type="text" class="cajas_campos" value="9.95"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Lista 3 </div></td>
    <td class="campos"><div align="center">
      <input name="textfield29" type="text" class="cajas_campos" value="9.90"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Fecha</div></td>
    <td class="campos"><div align="center">
      <input name="textfield210" type="text" class="cajas_campos" value="12/02/2016"/>
    </div></td>
  </tr>
<tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Proveedor</div></td>
    <td class="campos"><div align="center">
      <input name="textfield211" type="text" class="cajas_campos" value="Megaprofer"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Unidad</div></td>
    <td class="campos"><div align="center">
      <input name="textfield212" type="text" class="cajas_campos" value="Unidad"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Rubro</div></td>
    <td class="campos"><div align="center">
      <input name="textfield213" type="text" class="cajas_campos" value="Herramienta"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Stock</div></td>
    <td class="campos"><div align="center">
      <input name="textfield214" type="text" class="cajas_campos" value="20"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Stock Minimo </div></td>
    <td class="campos"><div align="center">
      <input name="textfield215" type="text" class="cajas_campos" value="5"/>
    </div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td class="cabecera_tabla"><div align="center">Ubicaci&oacute;n</div></td>
    <td class="campos"><div align="center">
      <input name="textfield2" type="text" class="cajas_campos" value="Estanteria 1"/>
    </div></td>
  </tr>  
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td><span class="LetraVersion"><img src="../images/iconos/datos.png" width="120" height="41" id="Image3" onmouseover="MM_swapImage('Image3','','../images/iconos/datos_on.jpg',1)" onmouseout="MM_swapImgRestore()" /></span></td>
    <td><span class="LetraVersion"><img src="../images/iconos/datos.png" width="120" height="41" id="Image3" onmouseover="MM_swapImage('Image3','','../images/iconos/datos_on.jpg',1)" onmouseout="MM_swapImgRestore()" /></span></td>
  </tr>
</table>
</body>
</noframes></html>
