<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.Estilo1 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>
<body>
<p>___ARTICULOS__________________________</p>
<p>&nbsp;</p>
<table width="990" border="1" align="center">
  <tr class="cabecera_tabla">
    <td colspan="2"><div align="center">Acci&oacute;n</div></td>
    <td width="48" rowspan="2" nowrap="nowrap"><div align="center">C&oacute;digo</div></td>
    <td width="68" rowspan="2" nowrap="nowrap"><div align="center">Descripci&oacute;n</div></td>
    <td width="42" rowspan="2" nowrap="nowrap"><div align="center">Marca</div></td>
    <td colspan="6" nowrap="nowrap"><div align="center">PVP</div></td>
    <td colspan="2" nowrap="nowrap"><div align="center">Ultima Compra </div></td>
    <td width="44" rowspan="2" nowrap="nowrap"><div align="center">Unidad</div></td>
    <td width="74" rowspan="2" nowrap="nowrap"><div align="center">Rubro</div></td>
    <td width="33" rowspan="2" nowrap="nowrap"><div align="center">Stock</div></td>
    <td width="44" rowspan="2" nowrap="nowrap"><div align="center">Stock Minimo </div></td>
    <td width="81" rowspan="2" nowrap="nowrap"><div align="center">Ubicaci&oacute;n</div></td>
  </tr>
  <tr class="cabecera_tabla">
    <td width="33">Editar</td>
    <td width="46">Eliminar</td>
    <td width="36" nowrap="nowrap"><div align="center">PVP</div></td>
    <td width="56" nowrap="nowrap"><div align="center">Calculado</div></td>
    <td width="36" nowrap="nowrap"><div align="center">Tarjeta </div></td>
    <td width="31" nowrap="nowrap"><div align="center">Lista 1 </div></td>
    <td width="31" nowrap="nowrap"><div align="center">Lista 2 </div></td>
    <td width="31" nowrap="nowrap"><div align="center">Lista 3 </div></td>
    <td width="72" nowrap="nowrap"><div align="center">Fecha</div></td>
    <td width="72" nowrap="nowrap"><div align="center">Proveedor</div></td>
  </tr>
  <tr onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td><div align="center"><a href="FRMeditar_articulo.html"><img src="../images/iconos/editar.jpg" alt="" width="28" height="28" /></a></div></td>
    <td><div align="center"><img src="../images/iconos/eliminar.jpg" alt="" width="29" height="28" /></div></td>
    <td><div align="center" class="letras_campos">fkdj</div></td>
    <td><div align="center" class="letras_campos">Serrucho</div></td>
    <td class="letras_campos"><div align="center" class="letras_campos">Bellota</div></td>
    <td class="letras_campos"><div align="center">10.00</div></td>
    <td class="letras_campos"><div align="center">8.90</div></td>
    <td class="letras_campos"><div align="center">10.20</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">9.95</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">12/02/2016</div></td>
    <td class="letras_campos"><div align="center">Megaprofer</div></td>
    <td class="letras_campos"><div align="center">Unidad</div></td>
    <td class="letras_campos"><div align="center">Herramienta</div></td>
    <td class="letras_campos"><div align="center">20</div></td>
    <td class="letras_campos"><div align="center">5</div></td>
    <td class="letras_campos"><div align="center">Estanteria 1 </div></td>
  </tr>
  <tr class="letras_campos" onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td><div align="center"><img src="../images/iconos/editar.jpg" alt="" width="28" height="28" /></div></td>
    <td><div align="center"><img src="../images/iconos/eliminar.jpg" alt="" width="29" height="28" /></div></td>
    <td><div align="center" class="letras_campos">fkdj</div></td>
    <td class="letras_campos"><div align="center">Serrucho</div></td>
    <td class="letras_campos"><div align="center">Bellota</div></td>
    <td class="letras_campos"><div align="center">10.00</div></td>
    <td class="letras_campos"><div align="center">8.90</div></td>
    <td class="letras_campos"><div align="center">10.20</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">9.95</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">12/02/2016</div></td>
    <td class="letras_campos"><div align="center">Megaprofer</div></td>
    <td class="letras_campos"><div align="center">Unidad</div></td>
    <td class="letras_campos"><div align="center">Herramienta</div></td>
    <td class="letras_campos"><div align="center">20</div></td>
    <td class="letras_campos"><div align="center">5</div></td>
    <td class="letras_campos"><div align="center">Estanteria 1 </div></td>
  </tr>
  <tr class="letras_campos" onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td><div align="center"><img src="../images/iconos/editar.jpg" alt="" width="28" height="28" /></div></td>
    <td><div align="center"><img src="../images/iconos/eliminar.jpg" alt="" width="29" height="28" /></div></td>
    <td><div align="center" class="letras_campos">fkdj</div></td>
    <td class="letras_campos"><div align="center">Serrucho</div></td>
    <td class="letras_campos"><div align="center">Bellota</div></td>
    <td class="letras_campos"><div align="center">10.00</div></td>
    <td class="letras_campos"><div align="center">8.90</div></td>
    <td class="letras_campos"><div align="center">10.20</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">9.95</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">12/02/2016</div></td>
    <td class="letras_campos"><div align="center">Megaprofer</div></td>
    <td class="letras_campos"><div align="center">Unidad</div></td>
    <td class="letras_campos"><div align="center">Herramienta</div></td>
    <td class="letras_campos"><div align="center">20</div></td>
    <td class="letras_campos"><div align="center">5</div></td>
    <td class="letras_campos"><div align="center">Estanteria 1 </div></td>
  </tr>
  <tr class="letras_campos" onmouseover="this.className = 'resaltar'" onmouseout="this.className = null">
    <td><div align="center"><img src="../images/iconos/editar.jpg" alt="" width="28" height="28" /></div></td>
    <td><div align="center"><img src="../images/iconos/eliminar.jpg" alt="" width="29" height="28" /></div></td>
    <td><div align="center" class="letras_campos">fkdj</div></td>
    <td class="letras_campos"><div align="center">Serrucho</div></td>
    <td class="letras_campos"><div align="center">Bellota</div></td>
    <td class="letras_campos"><div align="center">10.00</div></td>
    <td class="letras_campos"><div align="center">8.90</div></td>
    <td class="letras_campos"><div align="center">10.20</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">9.95</div></td>
    <td class="letras_campos"><div align="center">9.90</div></td>
    <td class="letras_campos"><div align="center">12/02/2016</div></td>
    <td class="letras_campos"><div align="center">Megaprofer</div></td>
    <td class="letras_campos"><div align="center">Unidad</div></td>
    <td class="letras_campos"><div align="center">Herramienta</div></td>
    <td class="letras_campos"><div align="center">20</div></td>
    <td class="letras_campos"><div align="center">5</div></td>
    <td class="letras_campos"><div align="center">Estanteria 1 </div></td>
  </tr>
</table>
</body>
</noframes></html>
