<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<link href="../css/style_tab.css" rel="stylesheet" type="text/css" />
</head>
<body id="tab2">
<ul id="tabnav">
  <li class="tab2"><a href="menu tab2.html">Perfiles</a></li>
  <li class="tab3"><a href="LSTusuarios.html">Accesos</a></li>
  <li class="tab4"><a href="menu tab4.html">Roles</a></li>
</ul>
</body>
</html>
